.container-bar {
    width: 75%;
    position: absolute;
    top: 112px;
    left: 300px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
  }
  
  .heading {
    color: #263238;
  }
  
  .arrow-buttons {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center the buttons vertically */
    margin-top: 10px;
    /* height: 35px; */
    max-width: 100%; /* Ensure the container does not exceed the viewport width */
    padding: 0 16px; /* Add left and right padding for spacing */
    box-sizing: border-box; /* Include padding in width calculations */
    overflow: hidden; /* Prevent content from spilling outside the container */
    position: relative; /* Keep buttons positioned relative to their container */
  }
  .first-row{
    
    display: flex;
margin-bottom: 30px;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .arrow-button {
    background-color: #5038ed;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 60%;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .tab-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: 42px;
    border-bottom: 0.42945px solid rgba(38, 50, 56, 0.1);
  }
  
  .tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4.2945px 6.44176px;
    gap: 4.29px;
    opacity: 0.8;
    border-radius: 4.2945px 4.2945px 0px 0px;
  }
  
  .tab.active {
    background: #5038ED;
    border-bottom: 0.42945px solid #FFFFFF;
  }
  
  .tab-text {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #263238;
  }
  
  .tab.active .tab-text {
    color: #FFFFFF;
  }
  
  .tab-width-info {
    width: 221px;
    height: 45px;
  }
  
  .tab-width-complaint {
    width: 147px;
  }
  
  .tab-width-notice {
    width: 124px;
  }
  
  .tab-width-demolition {
    width: 148px;
  }
  
  .tab-width-court {
    width: 164px;
  }
  
  .tab-width-submission {
    width: 153px;
  }
  