.form-container {
  font-family: "Poppins", sans-serif;
  
  width: 75%; /* Maintain existing width */
  position: fixed; /* Keep as fixed */
  top: 205px; /* Unchanged top margin */
  z-index: 500;
  background-color: #ffffff;
  margin-top: 30px;
  font-weight: 600;
  font-size: 13px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Add scrolling when content overflows */
}


  
  .form-container form {
     height: 464px;
    width: 100%;
   
    padding: 20px;
    padding-bottom: 40px;

    background-color: white;
  }
  /* Form Container */
/* General container styling */


/* Input placeholder styling */
.form-container input::placeholder,
.form-container textarea::placeholder {
  font-size: 14px;
}

/* Heading styles */
.heading {
  font-size: 16px;
}

.divider-form {
  height: 3px;
  width: auto;
  margin: 15px 0;
  background: #5038ed;
}

.label-small {
  font-weight: 600;
  font-size: 15px;
}
.label-big{
  font-weight: 600;
  font-size: 18px;
}

.checkbox-label {
  font-size: 15px;
  font-weight: 400;
}

.select-style {
  font-size: 14px;
}

.input-small {
  font-size: 14px;
  height: 40px;
}


/* Style for the options */
.select-style option {
  
  color: black;  /* Default text color */
}

/* Hover effect on options */
.select-style option:hover {
  background-color: green; /* Background color when hovering over an option */
  color: white;  /* Text color when hovering */
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .form-container {
    position: relative;
    top: 400px; /* Ensure the form has a top margin of 400px on mobile */
    min-height: 100vh; /* Ensure it fills the entire height of the screen on mobile */
    padding: 10px; /* Adjust padding for mobile */
    width: 100%; /* Full width for mobile screens */
  }
}

/* For very small devices (phones below 576px) */
@media (max-width: 576px) {
  .form-container {
    margin-top: 190px; /* Adjust top margin on very small devices (phones) */
    padding: 5px; /* Adjust padding */
  }
}