.sidebar-outer-div {
  background-color: #F0F4F8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 40px;
  gap: 25px;
  position: fixed;
  z-index: 99;
  width: 230px;
  height: fit-content;
  left: 63px;
  top: 90px;
  isolation: isolate;
}


.step-number {
  font-size: clamp(12px, 1vw, 14px);
  line-height: clamp(8px, 0.8vw, 10px);
}


.step-title {
  font-size: clamp(12px, 1.5vw, 18px);
  line-height: clamp(14px, 2vw, 22px);
}


.sidebar-outer-div {
  width: clamp(200px, 15vw, 230px);
}






.next-step1 {
  height: 2.6rem;
  width: 9rem;
  font-size: 1rem;
  padding: 12px;
  font-weight: 600;
  color: white;
  background: linear-gradient(99.78deg, #9181F4 -5.85%, #5038ED 109.55%);
  border-radius: 16px;
  border: none;
  cursor: pointer;
  background: linear-gradient(99.78deg, #9181F4 -5.85%, #5038ED 109.55%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next-step1:hover {
  transform: scale(1.05);
 
  background: linear-gradient(99.78deg, #5038ED -5.85%, #9181F4 109.55%);
 
}


.step-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 14.88px;
  width: 215px;
  height: 32px;
  isolation: isolate;
  cursor: pointer;
}


.step-text-container {
  display: flex;

  gap: 10px;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  width: 160px;
  height: 26px;
}

.step-number {
  width: 45px;
  height: 12px;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 8px;
  color: #263238;
  text-align: right;
  opacity: 0.6;
}

.step-title {
  width: 200px;
  height: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  line-height: 14px;
  color: #1E1E1E;
}


.circle-button {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  background: #FFFFFF;
  border: 0.42945px solid #263238;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-button.active {
  background: #5038ED;
  border-color: #5038ED;
}

.circle-button span {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #263238;
}

.circle-button.active span {
  color: #FFFFFF;
}


.next-step-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 16px;
}

.prev-step {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
}



@media(min-width:1800px) {

  .sidebar-outer-div {
    background-color: #F0F4F8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    gap: 40px;
    position: fixed;
    z-index: 99;

    height: fit-content;
    left: 112px;
    top: 90px;
    isolation: isolate;
  }

  .sidebar-image {
    width: 230px;
  }

  .step-number {
    width: 65px;
    height: 12px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 8px;
    color: #263238;
    text-align: right;
    opacity: 0.6;
  }

  .step-title {
    font-size: 17px;
    width: 250px;
  }
}

@media (max-width: 1400px) {

  .sidebar-outer-div {
    margin-top: 19px;
  }

  .sidebar-image {
    visibility: hidden;
  }
}


@media (max-width: 1000px) {
  .sidebar-outer-div {
    margin-top: 19px;
  }

  .sidebar-image {
    visibility: hidden;
  }
}

@media (max-width: 1000px) {
  .sidebar-outer-div {
    display: none;
   
    position: absolute;
   
    width: 0;
   
    height: 0;
   
  }

  .step-container {
    flex-direction: column;
   
    align-items: flex-start;
    padding: 10px;
  }

  .step-text-container {
    margin-bottom: 8px;
   
  }

 

  .next-step-container {
    flex-direction: column;
    gap: 10px;
   
    margin-top: 20px;
    align-items: center;
   
  }

  .prev-step {
    width: 100%;
   
    font-size: 14px;
    padding: 10px;
  }
}


@media (max-width: 992px) {
  .sidebar-outer-div {
    visibility: hidden;
   
    position: absolute;
   
    width: 0;
   
    height: 0;
   
  }

  .step-container {
    flex-direction: column;
   
    align-items: flex-start;
    padding: 10px;
  }

  .step-text-container {
    margin-bottom: 8px;
   
  }

 

  .next-step-container {
    flex-direction: column;
    gap: 10px;
   
    margin-top: 20px;
    align-items: center;
   
  }

  .prev-step {
    width: 100%;
   
    font-size: 14px;
    padding: 10px;
  }
}


@media (max-width: 768px) {
  .sidebar-outer-div {
    visibility: hidden;
   
    position: absolute;
   
    width: 0;
   
    height: 0;
   
  }

  .step-title {
    font-size: 14px;
   
  }

 

  .prev-step,
  .next-step1 {
    padding: 8px;
    font-size: 12px;
  }
}


@media (max-width: 576px) {
  .sidebar-outer-div {
    visibility: hidden;
   
    position: absolute;
   
    width: 0;
   
    height: 0;
   
  }

  .step-container {
    flex-direction: column;
    align-items: center;
   
  }

  .circle-button {
    margin: 8px 0;
   
  }

  .next-step-container {
    gap: 8px;
  }
}


.sidebar-image {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  margin-top: 0;
  object-fit: contain;
 
  max-width: 20%;
 
  height: auto;
 
}


@media (max-width: 768px) {
  .sidebar-image {
    max-width: 30%;
   
    height: auto;
   
  }
}


@media (max-width: 576px) {
  .sidebar-image {
    max-width: 40%;
    
  }
}

.next-step1 {
  display: flex;
  align-items: center;
}