.register-container {
  display: flex;
  font-family:" popins", sans-serif;
}

.container-fluid {
  background: #f4f6f9;
}

.form-section {
  flex: 1;
  display: flex;
  padding: 20px;
}

.man-image-reg{
    width: 54%;
    height: 79%;
    z-index: 2;
    left: 45%;
    top: 0.4rem;
    position: absolute;
}
/* Left Section Styling */
.form-control {
  border: 1px solid #ddd;
  border-radius: 14px;
  padding: 12px;
  font-size: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #EEEEEE;
}


.form-control:focus {
  outline: none;
  border-color: #5038ed;
  box-shadow: 0px 0px 4px rgba(80, 56, 237, 0.5);
}


.custom-btn {
  background: linear-gradient(45deg, #5038ed, #9181f4);
  color: #fff;
  border: none;
  border-radius: 14px;
  padding: 10px 12px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 30%;
}

.custom-btn:hover {
  background: linear-gradient(45deg, #3d2dcc, #7d6ce4);
}

.form-check-input {
  margin-right: 10px;
}

.form-check-label {
  font-size: 14px;
  color: #777;
}
.flash-reg {
  z-index: 2;
  top: 55%;
  left: -2%;
  position: absolute;
}
.login-logo {
  width: 25%;
  overflow: hidden;
}
